In [1]:
# Load libraries
import pandas as pd
import seaborn as sns

In [2]:
# Load county dataset
county_data = pd.read_csv('us_counties_covid19_daily.csv')
county_data = county_data.fillna(0)
print(len(county_data))
county_data.head()

800437

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [11]:
# Load state dataset
state_data = pd.read_csv('us_states_covid19_daily.csv')
print(len(state_data))

state_data["date"] = pd.to_datetime(state_data["date"], format='%Y%m%d')
state_data = state_data.sort_values('date')
data_to_plot = state_data.loc[state_data["state"] == "AL", "positiveIncrease"]
print(len(data_to_plot))
data_to_plot.head()

15633
275

15305    0
15254    0
15203    0
15152    0
15101    0
Name: positiveIncrease, dtype: int64

In [4]:
# Clean state dataset
state_data = state_data[['date', 'state', 'fips', 'positive', 'negative', 'death', 'totalTestResults', 'positiveIncrease', 'negativeIncrease', 'deathIncrease', 'totalTestResultsIncrease']]
state_data = state_data.fillna(0)
state_data.head()

,date,state,fips,positive,negative,death,totalTestResults,positiveIncrease,negativeIncrease,deathIncrease,totalTestResultsIncrease
0,20201206,AK,2,35720.0,1042056.0,143.0,1077776.0,757,9788,0,10545
1,20201206,AL,1,269877.0,1421126.0,3889.0,1645041.0,2288,5769,12,7880
2,20201206,AR,5,170924.0,1614979.0,2660.0,1763150.0,1542,13244,40,14704
3,20201206,AS,60,0.0,2140.0,0.0,2140.0,0,0,0,0
4,20201206,AZ,4,364276.0,2018813.0,6950.0,2370499.0,5376,15661,25,20586

In [5]:
# Load country dataset
us_data = pd.read_csv('us_covid19_daily.csv')
print(len(us_data))
us_data.head()

320

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,totalTestResults,lastModified,total,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,hash
0,20201206,56,14534035,161986294,13592.0,101487.0,585676.0,20145.0,31946.0,7094.0,...,204063869,2020-12-06T24:00:00Z,0,0,1138,2256,1172590,176771,1634532,9cf16504f91958e803a2197daf8c2528a4eddc18
1,20201205,56,14357264,160813704,13433.0,101190.0,583420.0,19950.0,31831.0,7005.0,...,202429337,2020-12-05T24:00:00Z,0,0,2445,3316,1526995,211073,2169756,6249216c5f097c94ce33a811dab011a483a42404
2,20201204,56,14146191,159286709,12714.0,101276.0,580104.0,19858.0,31608.0,6999.0,...,200259581,2020-12-04T24:00:00Z,0,0,2563,4652,1260657,224831,1854869,ae30ea088584335ba4d57ee927f8dbda6add74db
3,20201203,56,13921360,158026052,15106.0,100755.0,575452.0,19723.0,31276.0,6867.0,...,198404712,2020-12-03T24:00:00Z,0,0,2706,5331,1238465,210204,1828230,0f253d185ecb336cdd18a4c61996eda1b7eef13b
4,20201202,56,13711156,156787587,14368.0,100322.0,570121.0,19680.0,31038.0,6855.0,...,196576482,2020-12-02T24:00:00Z,0,0,2733,5028,982032,195796,1459202,477c17b6302d0485195e77ecf8270a974f7a3c82

In [6]:
# Clean country data
us_data = us_data[['date', 'states', 'positive', 'negative', 'hospitalizedCurrently', 'death', 'totalTestResults', 'positiveIncrease', 'negativeIncrease', 'hospitalizedIncrease','deathIncrease','totalTestResultsIncrease']]
us_data = us_data.fillna(0)
us_data.head()

,date,states,positive,negative,hospitalizedCurrently,death,totalTestResults,positiveIncrease,negativeIncrease,hospitalizedIncrease,deathIncrease,totalTestResultsIncrease
0,20201206,56,14534035,161986294,101487.0,273374.0,204063869,176771,1172590,2256,1138,1634532
1,20201205,56,14357264,160813704,101190.0,272236.0,202429337,211073,1526995,3316,2445,2169756
2,20201204,56,14146191,159286709,101276.0,269791.0,200259581,224831,1260657,4652,2563,1854869
3,20201203,56,13921360,158026052,100755.0,267228.0,198404712,210204,1238465,5331,2706,1828230
4,20201202,56,13711156,156787587,100322.0,264522.0,196576482,195796,982032,5028,2733,1459202

In [7]:
# Load vaccine dataset
vaccine_data_state = pd.read_csv('us_state_vaccinations.csv')
print(len(vaccine_data_state))
vaccine_data_state.head()

5873

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN

In [8]:
# Clean vaccine dataset
vaccine_data_state = vaccine_data_state[['date', 'location', 'total_vaccinations', 'total_distributed', 'people_vaccinated', 'people_fully_vaccinated', 'daily_vaccinations', 'share_doses_used']]
vaccine_data_state.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated,daily_vaccinations,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,7270.0,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,9245.0,5906.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,7083.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,13488.0,7478.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,7498.0,NaN

In [9]:
# map state name to state code
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}
vaccine_data_state['location'] = vaccine_data_state['location'].map(us_state_abbrev)
vaccine_data_state = vaccine_data_state.fillna(0)
vaccine_data_state.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated,daily_vaccinations,share_doses_used
0,2021-01-12,AL,78134.0,377025.0,70861.0,7270.0,0.0,0.207
1,2021-01-13,AL,84040.0,378975.0,74792.0,9245.0,5906.0,0.222
2,2021-01-14,AL,92300.0,435350.0,80480.0,0.0,7083.0,0.212
3,2021-01-15,AL,100567.0,444650.0,86956.0,13488.0,7478.0,0.226
4,2021-01-16,AL,0.0,0.0,0.0,0.0,7498.0,0.000

In [10]:
# Load country vaccine data
vaccine_data_us = pd.read_csv('us_vacc.csv')
print(len(vaccine_data_us))
vaccine_data_us.head()

100

,location,date,vaccine,source_url,total_vaccinations,people_vaccinated,people_fully_vaccinated
0,United States,2020-12-20,Pfizer/BioNTech,https://www.cdc.gov/coronavirus/2019-ncov/vacc...,556208,556208.0,NaN
1,United States,2020-12-21,Pfizer/BioNTech,https://covid.cdc.gov/covid-data-tracker/#vacc...,614117,614117.0,NaN
2,United States,2020-12-23,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,1008025,1008025.0,NaN
3,United States,2020-12-26,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,1944585,1944585.0,NaN
4,United States,2020-12-28,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,2127143,2127143.0,NaN

In [11]:
# Clean country vaccine data
vaccine_data_us = vaccine_data_us.drop(['source_url'], axis=1)
vaccine_data_us = vaccine_data_us.drop(['location'], axis=1)
vaccine_data_us = vaccine_data_us.fillna(0)
vaccine_data_us.head()

,date,vaccine,total_vaccinations,people_vaccinated,people_fully_vaccinated
0,2020-12-20,Pfizer/BioNTech,556208,556208.0,0.0
1,2020-12-21,Pfizer/BioNTech,614117,614117.0,0.0
2,2020-12-23,"Moderna, Pfizer/BioNTech",1008025,1008025.0,0.0
3,2020-12-26,"Moderna, Pfizer/BioNTech",1944585,1944585.0,0.0
4,2020-12-28,"Moderna, Pfizer/BioNTech",2127143,2127143.0,0.0

In [12]:
# exports cleaned datasets
county_data.to_csv('../cleaned_data/county_covid_clean.csv', index=False)
state_data.to_csv('../cleaned_data/state_covid_clean.csv', index=False)
us_data.to_csv('../cleaned_data/us_covid_clean.csv', index=False)
vaccine_data_state.to_csv('../cleaned_data/state_vaccine_clean.csv', index=False)
vaccine_data_us.to_csv('../cleaned_data/us_vaccine_clean.csv', index=False)

In [13]:
# print length of each dataset to verify in MySQL
print(len(county_data))
print(len(state_data))
print(len(us_data))
print(len(vaccine_data_state))
print(len(vaccine_data_us))

800437
15633
320
5873
100